@import 'Styles/mixins';

.PromoItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;
  .Card {
    border-radius: 10px;
  }
  img {
    width: 100%;
    height: 100px;
  }
  .Body {
    padding: 10px;
    .Link {
      text-align: center;
      color: rgb(36, 124, 255);
      font-weight: bold;
      cursor: pointer;
    }
  }
  span {
    max-width: 100px;
    white-space: pre-line;
    text-align: center;
    font-size: 13px;
  }
}
