@import 'Styles/mixins';

.Shell {
  .Footer {
    padding: 0px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &__Header {
    background: white;
    padding: 0px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.29);
    z-index: 1;
    &_Logo {
      width: 200px;
      background: black;
      color: white;
      height: 64px;
      display: inline-block;
      text-align: center;
      font-size: 16px;
      @include breakpoint(xs) {
        display: none;
      }
    }
    &_Main {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-right: 20px;
    }
    &_Avatar {
      display: inline;
      img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
      }
    }
    &_Menu {
      list-style: none;
      margin: 0px;
      display: inline;
      padding: 0px;
      @include breakpoint(xs) {
        display: none;
      }
      li {
        display: inline;
        margin-left: 20px;
      }
    }
  }
}
