@import 'Styles/mixins';

.Tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  background: white;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.29);
  .TabIcon {
    flex: 1;
    text-align: center;
    img {
      width: 20px;
      height: 20px;
    }
    .Title {
      font-size: 12px;
    }
    &.Active {
      .Title {
        color: #0178ff;
        font-weight: bold;
      }
    }
  }
}
