@import 'Styles/mixins';

.ProductItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 44px;
    height: 44px;
    margin-bottom: 10px;
  }
  span {
    max-width: 100px;
    white-space: pre-line;
    text-align: center;
    font-size: 13px;
  }
}
