@import 'Styles/mixins';

.Dashboard {
  background-color: white;
  .Container {
    position: relative;
    margin-top: -20px;
    top: -50px;
  }

  .Header {
    height: 150px;
    > img {
      width: 100%;
      height: 150px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
    }
    .Content {
      z-index: 100;
      text-align: center;
      padding-top: 30px;
      position: relative;
      margin-bottom: 5px;
    }
  }
}
