@import 'Styles/mixins';

.PromoList {
  background: white;
  border-top: solid 0.5px rgb(177, 177, 177);
  padding-left: 20px;
  padding-top: 20px;
  h3 {
    font-weight: bold;
  }
  .Row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;
    .PromoItem {
      margin-right: 10px;
    }
  }
}
