@import 'Styles/mixins';

.MapLabel {
  border-radius: 20px;
  background-color: rgba(250, 235, 215, 0.808);
  max-width: 200px;
  display: inline-block;
  padding: 2px 5px;
  line-height: 1;
  color: black;
  img {
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
